admin!
<a href="/agent%20signup-admin%20rights"><button>Create Agent</button></a>
<a href="/agent%20mon-bill%20signup-admin%20rights"><button>Create Agent monthly billing agent</button></a>
<a href="/logout"><button>Logout</button></a>
